.science-gothic 
{
  font-family: "Science Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
  "slnt" 0,
  "wdth" 100,
  "CTRS" 0;
}


:root 
{
  --primary: #3a6b37;
  --secondary: #081607;
  --text-color: #ffffff;
  --text-secondary: #3b7a3b;
  --text-tertiary: #253f0d;
}

* 
{
  font-family:"Science Gothic";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}

#event-subscription 
{
  background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url("Banner.jpeg");
  background-position: center;
  background-size: cover ;
  height: 85vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--text-color);
}

h2 
{
  text-transform: uppercase;
  margin-bottom: 0.3em;
}

#disclamer h2 
{
  color: var(--primary);
}

#disclamer .about-you 
{
  font-size: 1.2em;
  max-width: 350px;
  font-weight: bold;
}

#subscription-form
{
  background-color: var(--secondary);
  padding: 1em;
}

#subscription-form p
{
  font-size: 1.5em;
  color: var(--text-secondary);
  margin-bottom: 1em;
}

.form-group 
{
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8em; /* correção aqui, falta a mendida em */
}

.form-group label 
{
  color: var(--text-tertiary);
  margin-bottom: 0.3em;
  font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea 
{
  padding: 6px 8px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.btn 
{
  background: var(--primary);
  color: var(--text-color);
  text-transform: uppercase;
  width: 100%;
  padding: 8px 12px;
  opacity: 0.7;
  cursor: pointer;
  margin-top: 1em;
  border-radius: 8px;
}

.btn:hover 
{
  opacity: 1;
}

/* Tecnologias */
#key-technologys h2 
{
  background: var(--secondary);
  color: var(--primary);
  text-align: center;
  padding: 3.5em;
  font-weight: bold;
}

.technologys 
{
  display: flex;
  justify-content: space-around;
  padding: 2em;
  margin: 0 auto;
}

.technology 
{
  font-size: 0.5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 15%;
  color: var(--text-tertiary);
}

#technology-1 
{
  background-image: url(logos/github.png);
}

#technology-2 
{
  background-image: url(logos/figma.png);
}

#technology-3 
{
  background-image: url(logos/html.webp);
}

#technology-4 

{
  background-image: url(logos/css.webp);
}

#technology-5 
{
  background-image: url(logos/js.png);
}

.technology .technology-img 
{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-bottom: 1em;
}

/* Sobre */
#about 
{
  height: 400px;
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--text-color);
  margin-bottom: 3em;
}

#about-id, #about-description 
{
  max-width: 50%;
}
    
#about-id 
{
  display: flex;
  vertical-align: middle;
  align-items: center;
}

#about-id i 
{
  color: var(--primary);
  font-size: 6em;
  margin-right: 0.5em;
}

#about-description h3 
{
 color: var(--primary);
  font-size: 1.5em;
  margin-bottom: 1em;
  text-transform: uppercase;
}

#about-description p 
{
  text-align: justify;
  font-size: 0.8em;
  line-height: 1.5em;
}

/* Projetos */
#projects 
{
  width: 80%;
  margin: 0 auto;
}

.project 
{
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: space-between; /* adiciona o espaço igual entre os elementos */
  gap: 5%;
  margin-bottom: 4em;
}

.project img 
{
  width: auto;
  max-width: 50%;
  height: 350px;
  object-fit: cover;
  object-position: center;
}

.project h3 
{
  margin-bottom: 1em;
  font-size: 2em;
  font-weight: bold;
  line-height: 2em;
  color: var(--secondary);
}

.project-description 
{
  width: 100%;
  padding-left: 2em;
}

.project-description ul 
{
  list-style-position: inside;
}

.project-description ul li 
{
  margin-bottom: 1em;
}

.project-description ul li:last-child 
{
  font-weight: bold;
}

/*RODAPÉ*/
#footer 
{
  background-color:var(--secondary);
  text-align: center ;
  color: var(--text-color);
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;   
}

#footer a
{
  color: var(--text-color);
  margin: 8px;
}

#footer h3
{
  font-size: 1.83em;
  margin-bottom: 0.5em;
}

/* ===== MODAL DE CONFIRMAÇÃO ===== */
.modal-bg 
{
  display: none;             
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal 
{
  background: var(--text-color);
  color: var(--secondary);
  padding: 2em;
  border-radius: 12px;
  text-align: center;
  width: 350px;
  max-width: 90%;
  animation: fadeIn 0.4s ease-in-out;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

.modal i
{
  font-size: 4em;
  color: var(--primary);
  margin-bottom: 0.3em;
}

.modal h3 
{
  font-size: 1.5em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.modal p 
{
  font-size: 1em;
  margin-bottom: 1.5em;
  color: var(--secondary);
}

.btn-fechar 
{
  background: var(--primary);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s;
}

.btn-fechar:hover 
{
  opacity: 0.8;
}

@keyframes fadeIn 
{
  from { transform: scale(0.7); opacity: 0; }
  to   { transform: scale(1); opacity: 1; }
}

.Profile-pic
{
  width: 90%;
  height: 200px;
  object-fit: cover;
  border-radius: 1cap;
  margin-right: 10%;
}