:root {
    --primary: #8ABEB9;
    --secondary: #305669;
    --text-color: #f5f5f5;
    --text-secondary: #87E5CD;
    --text-tertiary: #C1785A;
}

* {
    font-family: Ubuntu;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#event-subscription {
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url("../img/banner.jpg");
    background-position: center;
    background-size: cover ;
    height: 85vh; /* Ocupa 85% da altura da tela visível */
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--text-color);
}

h2 {
    text-transform: uppercase;
    margin-bottom: 0.3em;
}

#disclamer h2 {
    color: var(--primary);
}

#disclamer .about-you {
    font-size: 1.2em;
    max-width: 350px;
    font-weight: bold;
}

#subscription-form {
    background-color: var(--secondary);
    padding: 1em;
    /* max-width: 22%; */
}

#subscription-form p {
    font-size: 1.5em;
    color: var(--text-secondary);
    margin-bottom: 1em;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8em; /* correção aqui, falta a mendida em */
}

.form-group label {
    color: var(--text-tertiary);
    margin-bottom: 0.3em;
    font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
    padding: 6px 8px;
    border-radius: 8px;
    border: none;
    outline: none;
}

.btn {
    background: var(--primary);
    color: var(--text-color);
    text-transform: uppercase;
    width: 100%;
    padding: 8px 12px;
    opacity: 0.7;
    cursor: pointer;
    margin-top: 1em;
    border-radius: 8px;
}

.btn:hover {
    opacity: 1;
}
